D = DEBUG = False
CUT_ENDINGS = True
MIN_WORD_LENGTH = 3
MAX_WORD_LENGTH = 20
DISPLAY_RESULTS = 40
DICS = [
    '/home/bartek/workspace/mlm/dics/wiktionary_en_es.tsv',
    '/home/bartek/workspace/mlm/dics/my.tsv'
 ]
GEOMETRY = '286x1050+1394+0'
ROWS = 80
KINDLE_MODE = True

DEFEMINIZE = True
IZPLURALS = True
STRIP_ACCENTS = False
