from evdev import InputDevice

D = DEBUG = False
CUT_ENDINGS = False
MIN_WORD_LENGTH = 3
MAX_WORD_LENGTH = 20
DISPLAY_RESULTS = 40
DICS = [
    '/home/bartek/workspace/mlm/dics/wiktionary_en_es.tsv',
    '/home/bartek/workspace/mlm/dics/my.tsv'
 ]
DEV = InputDevice('/dev/input/by-path/pci-0000:00:1a.1-usb-0:2:1.0-event-mouse')
GEOMETRY = '286x1050+1394+0'
ROWS = 80
KINDLE_MODE = False

DEFEMINIZE = True